.sidebarNav {
  height: 100vh;
  top: 0;
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 30%;
  max-width: 200px;
  background-color: #006666;
  padding: var(--nav-pad);
  overflow-y: scroll;
}

.sidebarNav::-webkit-scrollbar {
  display: none;
}

.navButtons {
  order: 3;
}

.profileImage {
  border-radius: 100px;
  height: 60%;
  width: 90%;
  object-fit: cover;
}

.profile {
  order: 1;
  padding-top: 10px;
}

.profileName {
  order: 2;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.05;
  margin: -50% 0 50% 0;
  color: #ffe066;
  text-shadow: 4px 8px 4px #000000;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.socialLinks {
  order: 4;
  padding: 10px 5%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .sidebarNav {
    max-width: 20%;
    padding-left: 2%;
  }

  .profileName {
    margin-top: 25%;
  }

  .profile {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .profile {
    transform: scale(0.8, 0.8);
  }
}

@media screen and (min-height: 1024px) {
  .profileName {
    margin-top: -190%;
  }

  .profile {
    margin-left: 5%;
  }
}

@media screen and (max-height: 360px) {
  .profileName {
    margin-bottom: 5%;
  }
}
