
.frame iframe{
    width: 80vw;
    height:100vh;
}



@media screen and (min-width: 1080px) and (max-width: 1600px){
    .frame iframe{
        width: 86vw;
    }

}

@media screen and (min-width: 1601px) and (max-width: 1900px){
    .frame iframe{
        width: 89vw;
    }

}
