.main {
    margin: 0;
    min-height:100vh;
    padding: 0;
    display: flex;
    background-color: var(--back-color);
    flex-wrap: wrap;
    flex-flow: row;
}

.sidebar{
    flex-grow: 1;
}

.content{
    width: 80%;
}
.content p{
    width: 90%;
}

.content h1, .content h2{
    text-align: center;
}
