.social{
  padding-right: 20px;
}

.borderCircle {
  border-radius: 9999px;
}

.link:hover{
  color:gray;
  text-decoration: underline;
}

.link{
  color: #294D28;
  text-decoration: none;
}

@media screen and (min-height: 1024px) {
  .allLinks{
    margin-top: -170%;
  }
  
}