.section-nav {
  position: sticky;
  display: block;
  border-right: 1px solid #efefef;
  align-self: start;
  top: 12%;
  width: var(--toc-width);
  margin-left: 15px;
  z-index: 100;
}

.section-nav span {
    padding-left: 5%;
    color: darkorange;
    font-size: 70%;
    text-shadow: 1px 2px 0px #000000;
}

.section-nav ul {
    list-style-type:none;
    padding-left: 10%;
    width:90%;
}

.section-nav ul li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.section-nav a {
  text-decoration: none;
  font-size: 60%;
  line-height: normal;
  display: inline-block;
  padding: .125rem 0;
  color: #006666;
  transition: all 50ms ease-in-out;
}

.section-nav a:hover,
.section-nav a:focus {
  font-size: 75%;
  text-decoration: underline;
}

.active {
    font-weight: 500;
}

.active a{
    color: #e2725b;
}

@media screen and (max-width: 720px) {
    .section-nav{
        display: none;
    }

}

