.container p{
    margin-left: 10%;
    width: 80%;
}

.big_gap{
    height:125px;
}

.single_gap{
    height:100px;
}


.footer{
    margin-left:15%;
}

.latest {
    margin-left: -8%;
    width: 90%;
}


.h2{
    margin-left: 40%;
    margin-bottom: var(--margin-bottom-5);
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 720px){
    .test{
        margin-left:20%;
    }

    .latest{
    margin-top: 25%;
    }

    .h2{
        margin-left: 30%;
    }

    .footer{
        margin-top: -40%;
    }


}