.big_gap{
    height:125px;
}

.single_gap{
    height:100px;
}
.container h2, .latest  h2{
    margin-left: -14%;
}


.container, .latest {
    padding-left: 20px;
}

.h2{

    margin-bottom: var(--margin-bottom-5);
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}