.input{
    margin: 3% 25%;
}

.col{
    width: 90%;
}

.msg{
    height: 500px;
}

.form .actions{
    margin: 0 45%;
}

.gap{
    height: var(--gap-bottom-100);
}

.alert{
    margin: 3% 17%;
    align-self: center;
    justify-items: center;
    width: 55%;
}

.h1{

    margin-top: var(--margin-top-12);
    margin-bottom: var(--margin-bottom-5);
    
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }