/* Re-work this css file.
   Need to figure out why margin-left percentages
   are so high in order to get it in the middle*/
.contact{
    margin-left: 100%;
    width: 90%;
}


.input{
    width: 300%;
    margin: 7% 25%;
}

.col{
    width: 90%;
}

.msg{
    height: 500px;
}

.form{
    padding-top: 10%;
    width: 100%;
    margin-left: 10%;
}
.form .actions{

    margin-left: 140%;
}

.gap{
    height: var(--gap-bottom-100);
}

.alert{
    margin: 3% 17%;
    align-self: center;
    justify-items: center;
    width: 55%;
}

.h1{

    margin-left: 120%;
    margin-top: 50%;
    margin-bottom: var(--margin-bottom-5);

    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }

  @media screen and (max-width: 1024px) {
    .contact{
        margin-left: 10%;
        width: 50%;
    }
}