.container{
    width: 90%;
    text-align: left;
}

.container p {
    width: 85%;
    margin-left: var(--margin-post-12);
}

.content iframe {
    width: 120%;
    height: 101vh;
    margin-top: -0.5%;
    margin-left: calc(var(--margin-post-12) * -0.86);
}

.container h4{
    margin-left: var(--margin-post-12);
}

.codeblock{
    width:88%;
    margin-left: var(--margin-post-12);
    font-size:16px;
}

.copy{
    float:right;
    opacity: 0;

}

.codeblock:hover > .copy{
    opacity:1;
    transition: all .5s ease-out;
}

/* Thanks to NotQuiteHere for the figure counter code below.
https://tamarisk.it/automatically-numbering-figures-in-markdown/
*/

.fig {
    text-align:center;
    counter-increment: figureCounter;
}
.fig .figcap{
    margin-top: 20px;
}

.fig .figcap:before{

    content: "Figure " counter(figureCounter) ": "
}

.gap{
    height: var( --gap-bottom-100);
}

/* Credit to A Haworth: https://stackoverflow.com/a/74754230
   for the cutomol and customli css code below */
.customol{
  counter-reset: item;
  list-style: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}

.customol .customli {
    position: relative;
}

.customol .customli::before {
counter-increment: item;
content: counter(item) ".";
position: absolute;
margin-left:60px;

/* margin-top: 1em; */
}

@media screen and (max-width: 1024px) {
    .code{
        font-size: 15px;
    }


    .image{
        width:90%;
        height: 90%;
    }


    .content iframe{
        margin-left: calc(var(--margin-post-12) * -0.75);
        width:82vw;
    }
}

@media screen and (max-width: 1280px )and (min-width: 1024px){
    .code{
        font-size: 15px;
    }
    .container p {
        width: 85%;
    }


    .image{
        width:90%;
        height: 90%;
    }


    .content iframe{
        margin-left: calc(var(--margin-post-12) * -1.23);
        width:86vw;
        height:101vh;
    }
}
