.container{
    width: 90%;
    text-align: left;
    padding-left: var(--margin-post-12);
}

.container p {
    width: 80%;
}


.codeblock{
    width:80%;
    font-size:16px;
    border-radius: 25px;
}

.h2{
    margin-bottom: 3%;
    width: 86%;
}

.h1{
    padding-top: var(--margin-top-12);
    padding-bottom: var(--margin-bottom-5);
    width: 86%;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }

.hr{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}

.copy{
    float:top;
    opacity: 0;
    height: 0;
    transition: all .5s;
}

.plaincode{
    font-size: 20px;
}

.codeblock:hover > .copy{
    opacity:1;
    height: 40px;
}



/* Thanks to NotQuiteHere for the figure counter code below.
https://tamarisk.it/automatically-numbering-figures-in-markdown/
*/

.fig {
    text-align:center;
    counter-increment: figureCounter;
    display: block;
    align-content: center;
    width: 80%;

}

.fig .figcap{
    margin-top: 20px;
}

.fig .figcap:before{

    content: "Figure " counter(figureCounter) ": "
}

.gap{
    height: var( --gap-bottom-100);
}

/* Credit to A Haworth: https://stackoverflow.com/a/74754230
   for the cutomol and customli css code below */
.customol{
  counter-reset: item;


}

.customol .customli {
    position: relative;
}

.content summary{
    font-size: 30px;
    margin-top: 3%;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .code, .plaincode{
        font-size: 10px;
    }

    .image{
        width:90%;
        height: 90%;
    }

    .content p{
        width: 70%;

    }
    .content summary{
        font-size: 25px;
    }


    .codeblock {
        width:75%;
    }

    .copy button{
        font-size: 11px;
        height: 25px;
        margin-bottom: -10%;
    }
}

@media screen and (max-width: 1280px )and (min-width: 1024px){
    .code, .plaincode{
        font-size: 15px;
    }

    .content summary{
        font-size: 25px;
    }

    .container p {
        width: 85%;
    }

    .codeblock{
        width: 80%;
    }
}

@media screen and (min-height: 1024px) {
    .plaincode, .code{
      font-size: 24px;
    }

    .content p{
        font-size: 24px;
    }

  }

