.main{
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  justify-content: center;
  text-align: center;
}

.horizontalCertificate{
  margin: 0% 15%;
}

.verticalCertificate{
  display: inline-block;
  margin: 0% 10%;
  padding-top: 50px;
}

.ul{
  list-style: none;
}
