.main{
    display: block;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
    width:80%;
}
.main > h2{
    margin-top: 10%;
}

.horizontalCertificate{
  margin-top: 10%;
}

.verticalCertificate{
  display: inline-block;
  margin: 0% 10%;
  padding-top: 50px;
  width:80%
}

.ul{
  list-style: none;
}

.gap{
    height:100px;
}
