.main{
    display: block;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
    width:80%;
}
.main > h2{
    margin-top: 10%;
}

.h1{

  padding-top: var(--margin-top-12);
  padding-left: var(--padding-left-10-per);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.horizontalCertificate{
  margin-top: 5%;
}

.verticalCertificate{
  display: inline-block;
  margin: 5% 10%;
  width:80%
}

.ul{
  list-style: none;
}

.gap{
    height:100px;
}
