:root {
    --nav-pad: 32px;
    --par-space: 14%;
    --toc-width: 10%;
}
* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  --back-color: #d9d9d9;
}

