.pageTitle {
  text-align: center;
  margin-left: 25%;
  margin-top: var(--margin-top-12);
  margin-bottom: var(--margin-bottom-5);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.pageFooter {
  margin-left: 20%;
}

@media screen and (max-width: 720px) {
  .pageTitle {
    margin-bottom: 25%;
  }

  .pageFooter {
    margin-top: -20%;
  }
}