.main {
  display: flex;
  height: 100vh;
  max-height: calc(100vh + 35vh);
  background: #d9d9d9;
  overflow-y: hidden;
}

.list{
  padding-left: 22%;
  display: table;
}

.toc{
  border-radius: 10px;
  background-color: #006655;
  list-style-type: none;
  margin-left: 30%;
  width: 40%;
  opacity: 85%;
 }

.toc-sub-links{
  list-style-type: none;
}

.toc-sub-links > li > a, .toc > li > a{
  text-decoration: none;
  color: white;
}
.toc-sub-links > li > a:hover, .toc > li > a:hover{
  text-decoration: underline;
  color: orange;
}
.toc-header{
  color: white;
}

.graph{
  width: 800px;
  height: 310px;
}

.performance{
  width: 850px;
  height: 100px;
}

@media screen and (max-width: 1280px) {
    .graph{
      width: 65%;
      height: 100%;
    }

    .performance{
      width: 65%;
      height: 100%;
    }

}
