.main {
  display: flex;
  height: 100vh;
  max-height: calc(100vh + 35vh);
  background: #d9d9d9;
  overflow-y: hidden;
}

.main > section {
  padding: 32px;
  color:  black;
  overflow-y: scroll;
  width: 100%;
  display: block;
}

.main section > p{
  text-align: center;
  margin-top: 10px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10%;
}

.main section > h2{
  position: relative;
  text-align: center;
}


