.nav {
  height: calc(100vh - var(--nav-pad));
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: 165px;
  background-color: #006666;
  padding: var(--nav-pad);
  border-right: 1px dash #eaeaea;
  overflow-y: visible;
  overflow-wrap: inherit;

}

.nav > a {
  margin: 4% 0;
  text-decoration: none;
  background-color: inherit;
  /*background:  ${({ selected }) => (selected ? "grey" : "black")};*/
  border-radius: 4px;
  width: 80%;
  font-size: 14px;
  padding: 10% 7%;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  transition: all 0.125s ease;
}

.nav > a:hover {
  background-color: lightsteelblue;
}

.test {
  height: clac(100vh - var(--nav-pad));
  display: flex;
  flex-direction: column;
  width:  80%;
  padding: 0% 20%;
  border-right: 1px dash #eaeaea;
}

.test > a {
  text-decoration: none;
  background-color:  inherit;
  border-radius: 4px;
  font-size: 14px;
  padding: 12% 0%;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  transition: all 0.125s ease;
}

.test > a:hover {
  background-color: lightsteelblue;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.borderCircle {
  border-radius: 9999px;
}

.profile{
  padding: 10px 10px;
  height: 138px;
  width: 144px;
}

.heading2Xl {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.05;
  margin: 0 0 10px 0;
  color: #ffe066;
  text-shadow: 4px 8px 4px #000000;

}

.banner{
  padding: 10px 5%;
  display: flex;
  flex-direction: row;
}

.input {
  margin: 32px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  padding: 8px 16px;
  height: 28px;
}

@media screen and (max-width: 720px) {
    .nav {
      width: 15%;
    }

    .profile{
      display: none;
    }

    .heading2Xl{
      font-size: 75%;
    }

}
